{% extends "bitshelf/views/templates/base.html" %}
{% block menu %}
{% endblock %}
{% block content %}
<form action="{{servlet-context}}/register" method="POST">
  <div class="form-group col-lg-3">
    <label for="email">Email Address</label>
    {% if email-error %}
      <div class="alert alert-danger">{{email-error}}</div>
    {% endif %}
    <p>
      <input class="form-control" id="email" name="email" tabindex="1" type="text" value={{email}}></input>
    </p>
    <label for="username">Username</label>
    {% if username-error %}
      <div class="alert alert-danger">{{username-error}}</div>
    {% endif %}
    <p>
      <input class="form-control" id="username" name="username" tabindex="1" type="text" value={{username}}></input>
    </p>
    <label for="pass">Password</label>
    {% if pass-error %}
      <div class="alert alert-danger">{{pass-error}}</div>
    {% endif %}
    <p>
      <input class="form-control" id="pass" name="pass" tabindex="3" type="password"></input>
    </p>
    <label for="pass-confirm">Confirm Password</label>
    {% if pass-confirm-error %}
      <div class="alert alert-danger">{{pass-confirm-error}}</div>
    {% endif %}
    <p>
      <input class="form-control" id="pass-confirm" name="pass-confirm" tabindex="4" type="password"></input>
    </p>
    <input class="btn" tabindex="4" type="submit" value="Create Account">
  </div>
</form>
{% endblock %}

